[submodule "themes/up-business-theme"]
	path = themes/up-business-theme
	url = https://gitlab.com/writeonlyhugo/up-business-theme.git
[submodule "themes/hugo-serif-theme"]
	path = themes/hugo-serif-theme
	url = https://github.com/zerostaticthemes/hugo-serif-theme.git
[submodule "themes/roxo-hugo"]
	path = themes/roxo-hugo
	url = git@github.com:StaticMania/roxo-hugo.git
[submodule "themes/hugo-fresh"]
	path = themes/hugo-fresh
	url = https://github.com/StefMa/hugo-fresh
